/*公共样式***********************/
*{
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
html,body{
    height: 100%;
    background-color: #fff;
    color:#333;
}
#__nuxt{
    height: 100%;
}
#sign-imp{
    height: 100%;
    background-color: #f1f1f1;
}
#default-imp{
    height: 100%;
    padding-top: 56px;
    background-color: #fff;
}
a,a:hover,a:focus{
    text-decoration: none!important;
    color: inherit!important;
}
input:focus{
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
ul,ol,dl{
    list-style: none;
    margin: 0!important;
    padding: 0;
}
.my-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}
@media (min-width: 992px){
    .my-container{
        width: 960px;
    }
}
@media (max-width: 1080px){
    .my-container{
        width: 750px;
    }
}
/*************************************/
/*首页布局*/
.index{
    margin-top: 30px;
}
.index .main{
    height: 1500px;
    padding-right: 0;
}
.index .aside{
    height: 1500px;
    padding: 0 0 0 4.16667%;
}
.index .main .banner img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 4px;
}
.index .main .banner {
    margin-bottom: 35px;
}
.index .main .recommend-collection {
    margin-bottom: 10px;
}
.index .main .recommend-collection a {
    display: inline-block;
    min-height: 34px;
    margin: 0 18px 18px 0;
    border-radius: 4px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    overflow: hidden;
}
.index .main .recommend-collection .more-hot-collection {
    display: inline-block;
    line-height: 34px;
    font-size: 14px;
    background: none;
    border: none;
    color: #787878;
    vertical-align: center;
}
.index .main .recommend-collection a img {
    width: 32px;
    height: 32px;
    vertical-align: bottom;
}
.index .main .recommend-collection a span {
    font-size: 14px;
    display: inline-block;
    padding: 0 10px;
    line-height: 32px;
}
.index .main .split-line {
    margin: 0px 0 15px;
    border-bottom: 1px solid #f0f0f0;
}
.index .aside .board img{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 4px;
}
.note-list {
    border:0;
    padding: 0;
    margin: 0;
    list-style: none;
}
.note-list li {
    position: relative;
    width: 100%;
    padding: 0 0 17px 0;
    margin: 0 0 17px 0;
    border-bottom: 1px solid #ccc;
    word-wrap: break-word;
}
.note-list li.have-img>a{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -60px;
    width: 150px;
    height: 120px;
}
.note-list li.have-img>.wrap-img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}
.note-list li.have-img .content {
    padding-right: 160px;
}
.note-list .author {
    margin-bottom: 14px;
    font-size: 13px;
}
.note-list .author .avatar , .note-list .author .info {
    display: inline-block;
    vertical-align: middle;
}
.avatar {
    width: 32px;
    height: 32px;
    display: block;
}
.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.note-list .author .avatar {
    margin: 0 5px 0 0;
}
.note-list .author .info .time {
    color: #969696;
    padding-left: 5px;
}
.note-list .tittle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px;
}
.note-list .title:visited {
    color: #969696;
}
.note-list .abstract {
    font-size: 13px;
    margin: 0 0 13px 0;
    line-height: 24px;
}
.note-list .meta {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.note-list .meta .collection-tag {
    display: inline-block;
    vertical-align: middle;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ea6f5a!important;
    border: 1px solid #ea6f5a;
    border-radius: 3px;
    padding: 3px 6px;
    margin-right: 10px;
    transition: all ease-in .5s;
}
.note-list .meta .collection-tag:hover {
    background-color: rgb(254,247,247);
    border: 1px solid rgb(236,97,73);
}
.note-list .meta .tag {
    margin-right: 10px;
    color: #b4b4b4!important;
    transition: all ease-in .3s;
}
.note-list .meta .tag:hover {
    color: rgb(120,120,120) !important;
}
.note-list .meta span {
    color: #b4b4b4!important;
}
@media (max-width: 1080px) {
    .note-list li.have-img .wrap-img {
        margin-top: -58px;
        bottom: 40px;
        width: 125px;
        height: 100px;
    }
    .note-list li.have-img>div {
        padding-right: 135px;
    }
}
.index .main .load-more {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 20px;
    text-align: center;
    color: #fff!important;
    background: #a5a5a5;
    border-radius: 20px;
    margin: 30px auto 60px;
    padding: 10px 15px;
    font-size: 15px;
}
.aside .board {
    margin-bottom: 4px;
}
footer {
    margin-bottom: 20px;
}
footer .row {
    padding-top: 25px;
}
.recommend-author {
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
}
.recommend-author .tittle {
    text-align: left;
}
.recommend-author .tittle .page-change {
    float: right;
}
.recommend-author .tittle .page-change i {
    transition: ease .2s;
}
.recommend-author .list {
    margin-top: 20px;
    text-align: left;
}
.recommend-author .list li {
    margin-top: 15px;
}
.recommend-author .list li .avatar {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 10px;
}
.recommend-author .list li .follow {
    margin-top: 5px;
    float: right;
    font-size: 13px;
    color: #42c02e!important;
}
.recommend-author .list li .name {
    display: block;
    padding-top: 5px;
    margin-right: 60px;
    font-size: 14px;
}
.recommend-author .list li p {
    color: #969696;
    font-size: 12px;
}
.recommend-author .find-more {
    display: block;
    width: 100%;
    padding: 7px 7px 7px 12px;
    color: #787878!important;
    border: 1px solid #ccc;
    background: #f7f7f7;
    font-size: 13px;
    border-radius: 5px;
}
.recommend-author .find-more i {
    font-size: 14px;
}
.aside .download {
    display: block;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 30px;
}
.aside .download img {
    display: inline-block;
    width: 60px;
    height: 60px;
}
.aside .download .code-info {
    display: inline-block;
    margin-left: 7px;
    vertical-align: middle;
}
.aside .download .code-info i {
    font-size: 18px;
}
.aside .download .code-info .tittle {
    font-size: 15px;
    color: #333;
}
.aside .download .code-info .description {
    font-size: 13px;
    color: #999;
}


/*文章页面*/
.note{
    position: relative;
    padding-top: 10px;
}
.note .post{
    width: 620px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}
.note .post .article .title{
    font-size: 34px;
    font-weight: 700;
    margin: 20px 0 0;
    word-break: break-all;
}
.note .post .article .author{
    margin: 30px 0 40px 0;
}
.note .post .article .author .avatar{
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.note .post .article .author .info{
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}
.note .post .article .author .info .name{
    font-size: 16px;
    margin-right: 5px;
}
.note .post .article .author .info .follow{
    color: #fff!important;
    background-color: #42c02e;
    border-radius: 20px;
    padding: 0 7px 0 7px;
    border: 1px solid hsla(0,0%,59%,.6);
}
.note .post .article .author .info .follows{
    color: #bbb!important;
    background-color: #fff;
}
.note .post .article .author .meta{
    margin-top: 5px;
    font-size: 12px;
    color: #969696;
}
.note .post .article .author .meta span{
    margin-right: 5px;
}

.note .post .article .show-content {
    font-size: 16px;
    font-weight: 400;
    word-break: break-all;
    line-height: 1.7;
    color: #2f2f2f;
}
.note .post .article .show-content p {
    margin: 0 0 20px;
}
.note .post .article .show-footer {
    margin-bottom: 30px;
}
.note .post .article .show-footer .notebook {
    font-size: 12px;
    color: #c8c8c8!important;
}
.note .post .article .show-footer .notebook i {
    margin-right: 5px;
}
.note .post .article .show-footer .copyright {
    float: right;
    font-size: 12px;
    color: #c8c8c8;
}
.note .post .article .follow-detail {
    padding: 20px;
    background: #f8f8f8;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}
.note .post .article .follow-detail .avatar {
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 10px;
}

.note .post .article .follow-detail .info .btn {
    float: right;
    border-radius: 20px;
}
.note .post .article .follow-detail .title {
    font-size: 17px;
    line-height: 1.8;
    margin-right: 5px;
}
.note .post .article .follow-detail .info>i {
    color: #3194f0;
    font-size: 15px;
}
.note .post .article .follow-detail .info p {
    color: #969696;
    margin-bottom: 0;
    font-size: 12px;
}
.note .post .article .follow-detail .signature {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    color: #969696;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}
.note .post .article .meta-bottom {
    margin-top: 40px;
    margin-bottom: 80px;
}
.note .post .article .meta-bottom .like {
    display: inline-block;
}
.note .post .article .meta-bottom .share-group {
    float: right;
}
.note .post .article .meta-bottom .like-group {
    border:1px solid #ea6f5a;
    padding: 13px 0 15px;
    border-radius: 40px;
}
.note .post .article .meta-bottom .like .active {
    background: #ea6f5a;
}
.note .post .article .meta-bottom .like .color-a {
    background: #ea6f5a!important;
}
.note .post .article .meta-bottom .like .color-b {
    background: white;
}
.note .post .article .meta-bottom .like .color-c {
    color: white!important;
}
.note .post .article .meta-bottom .like .color-d {
    color: white!important;
    border-left: 1px solid white!important;
}
.note .post .article .meta-bottom .like-group:hover {
    background: rgb(254,247,245);
}
.note .post .article .meta-bottom .like-group .btn-like {
    font-size: 19px;
    display: inline-block;
    color: #ea6f5a;
}
.note .post .article .meta-bottom .like-group .btn-like a {
    padding: 18px 15px 18px 30px;
}
.note .post .article .meta-bottom .like-group .modal-wrap {
    font-size: 18px;
    display: inline-block;
    border-left: 1px solid rgba(236,97,73,.4);
    color: #ea6f5a;
}
.note .post .article .meta-bottom .like-group .modal-wrap a {
    padding: 18px 30px 18px 17px;
}
.note .post .article .meta-bottom .share-group {

}
.note .post .article .meta-bottom .share-group a {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    background: #fff;
    margin-left: 5px;
    line-height: 50px;
}
/*.note .post .article .meta-bottom .share-group a:hover {*/
    /*background: #dcdcdc;*/
/*}*/
.note .post .article .meta-bottom .share-group a i {
    font-size: 25px;
}
.weibo {
    color: red;
}
.weixin {
    color: green;
}
.qq {
    color: #3194f0;
}
.note .post .article .meta-bottom .share-group .more-share {
    width: auto;
    line-height: 40px;
    font-size: 14px;
    padding: 4px 18px;
    border-radius: 20px;
    color: #969696!important;
    position: relative;
}
.note .post .article .meta-bottom .share-group .more-share .share-list {
    width: 150px;
    display: block;
    /*padding: 10px 10px 10px 0px;*/
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #c8c8c8;
    left: -30px;
    position: absolute;
    bottom: 65px;
    background: #fff;
}
.note .post .article .meta-bottom .share-group .more-share .share-list:before {
    content: "";
    position: absolute;
    top: 160px;
    right: 70px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
}
.note .post .article .meta-bottom .share-group .more-share .share-list li i {
    margin-right: 5px;
}
.note .post .article .meta-bottom .share-group .share-list li:hover {
    background: #dcdcdc;
}
.list-qq {
    font-size: 18px!important;
    color: #e3b81f;
    margin-left: -10px;
}
.list-twitter {
    margin-left: -15px;
    font-size: 20px!important;
    color: #3194f0;
}
.list-facebook {
    font-size: 20px!important;
    color: mediumblue;
}
.list-google {
    font-size: 14px!important;
    margin-left: -10px;
    color: red;
}
/*用户页面*/